coqui-tts
pydub
tqdm
requests
numpy<2
scipy
soundfile
librosa
unidecode
inflect
PyYAML
torch==2.2.0
torchaudio==2.2.0
tensorboardX
matplotlib
Pillow
webrtcvad
pandas
einops
transformers
encodec
progressbar2
nltk
deepfilternet==0.5.6
git+https://github.com/lukaszliniewicz/breath-removal.git
